@media  (max-width: 992px){
    .navbar{
        min-width: 992px;
        position: fixed;
        top: 0;
        background-color: #343a40;
    }

    .nav-header{
        margin-left: 150px;
    }

    .nav-list{
        margin-left: 35px;
    }

    .pic2 img{
        height: 380px;
    }
}