@import url("mediaqueries.css");

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins",Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: #81919a;
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.navbar{
    position: absolute;
    top: 20px;
    /* min-width: 930px; */
    /* max-width: 1550px; */
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.nav-list{
    width: 100%;
    /* margin-left: 300px;
    margin-right: 170px; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
}

.nav-header {
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    /* margin-left: 205px; */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

.nav-list-items{
    display: flex;
    justify-content: space-around;
    /* margin-left: 400px; */
    list-style-type: none;
}

.nav-link{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    padding: 10px 25px 10px 25px;
}

.nav-btn{
    width: 80px;
    border: 0.5px solid #fff;
    padding: 10px 25px 10px 25px;
    border-radius: 18px;
}

.nav-container {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic2{
    object-fit: fill;
}

.hero-wrap{
    position: relative;
    height: 90vh;
    z-index: 1;
    /* min-width: 930px; */
    /* max-width: 1550px; */
    background: rgb(34,187,212);
    background: linear-gradient(to bottom, rgba(34,187,212,1) 0%, rgba(32,201,151,1) 67%);
}

.main-container{
    display: flex;
    justify-content: space-around;
    /* margin-left: 140px; */
    position: relative;
}

.sidebar-text{
    padding-top: 150px;
    padding-left: 173px;
    /* margin-left: 150px; */
    color: #fff;
    flex: 1;
}

.btn {
    padding: 20px 25px;
    border: 0.5px solid #fff;
    border-radius: 35px;
    text-decoration: none;
    color: #20c997;
    background-color: #fff;
    opacity: 0.8;
}

.pic2 {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    /* top: 212px; */
    bottom: -31%;

    /* right: 50px; */
}

.fa{
    display: none;
}

.pic2 img {
    width: 75%;
}



.sidebar-picture{
    flex: 3;
}

.sidebar-text h1{
    font-size: 44px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
    /* opacity: 0.784229; */
    margin-bottom: 1.5rem !important;
}

.sidebar-text p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 3rem !important;
}


/* Domain Section */

.domain-section{
    padding: 128px 0;
    background: #f8faff;
    text-align: center;
}

.text-container{
    margin: 48px -15px;
}

.get-domain{
    text-align: center;
}

.get-domain span{
    color: #24bdc9;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.get-domain h2{
    font-size: 30px;
    margin-bottom: 24px;
}

.get-domain p{
    margin-bottom: 16px;
}

.form-container{
    padding: 20px;
    border: 1px solid #9ff0c8;
    width: 730px;
    display: flex;
    margin-bottom: 16px;
}

.search-domain{
    height: 70px;
    border: transparent;
    flex: 2.5;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-btn{
    background: #22d47b;
    border: 2px solid #22d47b;
    color: #fff;
    height: 70px;
    flex: 1.5;
    font-size: 18px;
}

::placeholder {
    padding-left: 20px;
}

.domain-price span small {
    color: #24bdc9;
}

.domain-price span{
    color: #3a4348;
    margin: 0 10px;
}

/* Services section */

.service-section{
    text-align: center;
    padding: 128px 0;
}

.service-header{
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.sub-heading {
    color: #24bdc9;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
}

.service-section h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: inherit;
    color: #3a4348;
}

.services-info{
    padding: 8px;
    margin-top: 16px;
}

.services-info h3{
    display: block;
    font-size: 1.17em;
    margin-bottom: 8px;
    font-weight: bold;
}

.services-info p{
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
}

.service{
    width: 27%;
}

.services-main {
    display: flex;
    justify-content: space-around;
}

.logo-img{
    width: 60px;
    fill: #20c997;
}

.icon {
    line-height: 1.3;
}


/* Pricing Section */
.pricing-section{
    background: #f8faff !important;
    text-align: center;
    padding: 128px 0;
}

.pricing-header{
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.pricing-header h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: inherit;
    color: #3a4348;
}

.block-1 .heading{
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding: 12px 20px;
    background: #24bdc9;
    margin-bottom: 40px;
    color: #fff;
    display: inline-block;
    border-radius: 0px 0px 10px 10px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.price sup{
    font-size: 20px;
    color: #3a4348;
}

.price .number{
    font-size: 40px;
    line-height: 55px;
    font-weight: 500;
    color: #3a4348;
}

.features{
    display: inline-block;
    margin-bottom: 20px;
    color: #b3b3b3;
}

.pricing-btn{
    display: block;
    background: #daf6f8;
    border: 2px solid #daf6f8;
    border-radius: 40px;
    text-decoration: none;
    color: #24bdc9;
    padding: 16px;
    width: 140px;
    margin-bottom: 24px;
}

.heading-2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 16px;
    color: #3a4348;
}

.pricing-text {
    list-style-type: none;
}

.pricing-text li{
    list-style: none;
    margin-bottom: 10px;
    color: #b3b3b3;
}

.block-1 {
    padding: 0 40px 40px 40px;
    margin-bottom: 30px;
    background: #fff;
}

.pricing {
    padding: 0 15px;
}

.pricing-main{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

/* Funfact section */

.funfact-section{
    padding: 160px 0;
    text-align: center;
    background-image: url(https://preview.colorlib.com/theme/raptor/images/xbg_1.jpg.pagespeed.ic.vcDLnK3grw.webp);
    position: relative;
    z-index: 0;
}   

.funfact-section::after{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: #2ebdc4;
    opacity: 0.7;
}

.funfact-header{
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.funfact-header h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #fff;
}

.funfact-header p {
    font-size: 14px;
    margin-bottom: 20px;
    color:  rgba(255, 255, 255, 0.9);
}

.funfacts-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number{
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.facts p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

/* Reviews section */

.reviews-section{
    padding: 128px 0;
    text-align: center;
    background: #f8faff !important;
}

.reviews-header-main{
    display: flex;
    justify-content: center;
}

.reviews-header{
    width: 52%;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.reviews-header h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: inherit;
    color: #3a4348;
}

.reviews-header p{
    margin-bottom: 16px;
}

.client-reviews{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items{
    position: relative;
    margin-bottom: 48px;
}

.image-wrapper{
    position: absolute;
    top: -10px;
    left: 8px;
}

.image-wrapper img {
    position: relative;
    height: 100px;
    width: 100px;
}

.image-wrapper i {
    position: absolute;
    top: 64px;
    left: 68px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1faee;
    border-radius: 50%;
    color: #22d47b;
}

.customer-img{
    margin-bottom: 48px;
}

.description{
    margin-bottom: 48px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    color: #3a4348;
}

.reviews{
    width: 290px;
    background: #fff;
    padding: 100px 24px 35px 24px;
}

/* Hosting section */

.hosting-section{
    padding: 128px 0;
    text-align: center;
}

.hosting-header{
    margin-bottom: 128px;
}

.hosting-header h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #3a4348;
}

.hosting-btn{
    display: flex;
    justify-content: center;
}

.hosting-btn button {
    background: transparent;
}

.button,
.link{
    text-decoration: none;
    padding: 12px 35px 12px 35px;
    background: #fff;
    color: #22d47b;
    border: 1px solid #73e9ae;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.hosting-btn{
    padding-bottom: 90px;
}

.button:hover{
    background: #22d47b;
    color: #fff;
    cursor: pointer;
}

.hosting-img img{
    height: 335px;
    width: 530px;
}

.hosting-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hosting-desc{
    text-align: left;
    padding: 48px 0 0 48px;
}

.hosting-desc h2{
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 1.5;
    color: #3a4348;
    font-weight: 400;
}

.hosting-desc p{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 200;
}

/* Newsletter section */

.newsletter-section{
    text-align: center;
    padding: 160px 0;
    color: #fff;
    background: linear-gradient(135deg,#2ebdc4 0%,#68e5b2 100%);
}

.newsletter-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-desc{
    width: 55%;
}

.newsletter-desc h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
    color: #fff;
}

.newsletter-desc p{
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    margin-bottom: 16px;
}

.newsletter-form{
    margin-top: 48px;
}

.form-control {
    padding: 6px 60px 6px 3px;
    background: transparent!important;
    border: 1px solid rgba(255,255,255,.7);
    color: rgba(255,255,255,.8)!important;
    height: 38px;
    width: 238px;
    border-radius: 40px;
    position: relative;
    font-size: 18px;
}

.form-group span{
    position: absolute;
    right: 42%;
    margin-top: 10px;
}

::placeholder{
    color: rgba(255,255,255,.8);
}

/* Blog section */

.blog-section{
    padding: 128px 0;
    text-align: center;
    background: #f8faff!important;
}

.blog-header h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #3a4348;
    margin-bottom: 8px;
}

.blog-header p{
    font-size: 17px;
    margin-bottom: 16px;
}

.blog-header{
    width: 52%;
}

.blog-header-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.blog-container{
    background: #fff;
    width: 30%;
    box-shadow: 0 4px 18px -12px rgb(0 0 0 / 75%);
}

.blog-img a img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.blog-text .sec-1 div a{
    text-decoration: none;
    color: #9eaab0;
    font-size: 15px;
}

.blog-text .sec-1 div {
    margin: 0 5px 5px 0;
}

.blog-text{
    padding: 24px;
}

.sec-1 {
    display: flex;
    justify-content: flex-start
}

.sec-2 h3 a {
    text-decoration: none;
    color: #3a4348;
}

.sec-2 h3{
    text-align: left;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 1.5;
    color: #3a4348;
    font-weight: 400;
    padding-right: 15px;
}

.blog-main {
    display: flex;
    justify-content: space-around;
}

/* Footer section */

.footer{
    background: #24bdc9;
    padding: 192px 0 128px 0;
    text-align: left;
    color: #fff;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section{
    width: calc(100%/4);
}

.icon-wrapper{
    display: flex;
    margin: 48px 0 16px 0;

    /* justify-content: space-around; */
}

.section h2{
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
}

.section p{
    color: rgba(255,255,255,0.7);
    /* font-size: 14px; */
    margin-bottom: 16px;
} 

.btn-1 {
    color: rgba(255,255,255,.7);
    margin: 40px 0 16px 0;
}

.btn-1 button{
    padding: 18px 30px;
    background: #fff!important;
    border: 2px solid #fff!important;
    border-radius: 30px;
}

.btn-1 button a{
    color: #24bdc9;
}

.wrapper{
    margin-right: 75px;
}

.first-wrapper{
    margin: 0 0 24px 48px;
}

.first-wrapper ul li a {
    color: rgba(255,255,255,.7);
}

.first-wrapper ul li{
    height: 40px;
}

.second-wrapper ul li a{
    color: rgba(255,255,255,.7);
    padding: 8px 0;
}

.second-wrapper ul li{
    height: 40px;
}

.third-wrapper ul li a{
    color: rgba(255,255,255,.7);
}

.third-wrapper ul li {
    padding: 10px 0;
}

.third-wrapper ul :first-child{
    padding-top: 0;
}

.third-wrapper ul li span{
    padding-left: 10px;
}

.icon-link{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.05);
    margin-right: 10px;
}

.social-icon{
    font-size: 25px !important;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright p{
    color: rgba(255,255,255,.7);
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-main{
    margin-bottom: 48px;
}

.footer-container{
    width: 70% !important;
}

.hosting-btn-primary {
    background: #22d47b !important;
    color: #fff;
    border: 1px solid #22d47b !important;
}